@import "swiper/swiper.scss";

div.hidden {
  display: none;
}

$salem-background: #310000;
$salem-background-drawer: #1d0000;
$salem-text: #f8c63c;

$salem-red: #8a0505;
$salem-blue: #080685;
$salem-green: #00700a;

#root {
  //font-family: Georgia, 'Times New Roman', Times, serif;
  font-family: "Roboto";
  height: 100vh;
  display: flex;
  background-color: $salem-background;
  color: $salem-text;

  div#lobby-view {
    padding: 0px !important;
    display: flex;
    flex-grow: 1 1 0;
    width: 100%;

    div.phase {
      width: 100%;
    }
  }
}

.swiper-parent-container {
  width: 100vw;
}

.real-swiper-container {
  width: 100vw;
}

.salem-card-swiper {
  //display: flex;
  //justify-content: center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.player-swiper-container {
  position: relative;
  width: 100%;
  .player-swiper-wrapper {
    width: 100%;
  }
}

button.tryal-card {
  min-height: 200px;
  max-width: 150px;
  width: 100%;
  font-family: "Roboto";
  font-size: 16px;
  border-radius: 5px;
  border: 5px solid;

  .tryal-card-content {
    transform: rotate(-45deg);
  }
}

div.other-player-swiper {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  min-height: 50vh;
}
button.other-player-details {
  border: 5px solid #928134;
  background-color: #d6c162;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 0;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;

  .character-info {
    h6 {
      font-size: 16px;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }

  .player-header {
    display: flex;

    h5 {
      font-size: 16px;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }

  .tryal-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    bottom: 0px;

    button.tryal-card {
      margin: 0;
      text-decoration: none;
      font-family: sans-serif;
      font-size: 1rem;
      cursor: pointer;
      text-align: center;
      transition: background 250ms ease-in-out, transform 150ms ease;
      max-height: 15vh;
      min-height: 15vh;
      max-width: 70px;
      font-family: "Roboto";
      font-size: 8px;
      border-radius: 5px;
      border: 3px solid;

      .tryal-card-content {
        transform: rotate(0deg);
      }
    }
  }
}

button.salem-card {
  font-family: "Roboto";
  min-height: 200px;
  //width: 100%;
  flex: 1 1 0;
  background-color: rgb(245, 244, 204);
  border-radius: 5px;
  border: 5px solid transparent;

  display: inline-block;
  padding: 0.5rem 0.5rem;
  margin: 0;
  text-decoration: none;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;

  &.RED {
    border-color: $salem-red;
    color: $salem-red;
  }

  &.BLUE {
    border-color: $salem-blue;
    color: $salem-blue;
  }

  &.GREEN {
    border-color: $salem-green;
    color: $salem-green;
  }

  &.BLACK {
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
  }

  .salem-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    h6 {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      font-size: 16px;
    }
  }
  //width: 250px;
}

div.turn-status {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100vw;
  font-weight: 500;
  height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

div.open-salem-hand {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.applied-salem-cards {
  display: flex;
  flex-direction: column;
}

.log-messages {
  width: 100%;
  background-color: transparent;
  border: transparent;
  background-color: lighten($salem-background, 5%);
  height: 20vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

#lobby-exit.buttons {
  position: fixed;
  bottom: 0;
  right: 0;

  button {
    font-size: 0.9375rem;

    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    background-color: $salem-text;
    border: none;

    color: #fff;
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
  }
}

#game-exit.buttons {
  position: fixed;
  bottom: 0;
  left: 0;

  button {
    font-size: 0.9375rem;

    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    background-color: $salem-text;
    border: none;

    color: #fff;
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
  }
}

.close-backdrop {
  position: absolute;
  top: 0;
  right: 0;

  
}
