@import 'swiper/swiper.scss';

div.hidden {
  display: none;
}

$salem-background: #310000;
$salem-background-drawer: #1d0000;
$salem-text: #f8c63c;

$salem-red: #8a0505;
$salem-blue: #080685;
$salem-green: #00700a;

#root {
  //font-family: Georgia, 'Times New Roman', Times, serif;
  font-family: "Roboto";
  height: 100vh;
  display: flex;
  background-color: $salem-background;
  color: $salem-text;

  div#lobby-view {
    padding: 0px !important;
    display: flex;
    flex-grow: 1 1 0;
    width: 100%;

    div.phase {
      width: 100%;


    }
  }
}

.swiper-parent-container {
  width: 100%;
}

.salem-card-swiper {
  //display: flex;
  //justify-content: center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

button.tryal-card {
  min-height: 200px;
  max-width: 150px;
  width: 100%;
  font-family: "Roboto";
  font-size: 16px;
  border-radius: 5px;
  border: 5px solid ;

  .tryal-card-content {
    transform: rotate(-45deg);

  }
}


button.salem-card {
  font-family: "Roboto";
  min-height: 200px;
  width: 100%;
  background-color: rgb(245, 244, 204);
  border-radius: 5px;
  border: 5px solid transparent;

  &.RED {
    border-color: $salem-red;
    color: $salem-red;
  }

  &.BLUE {
    border-color: $salem-blue;
    color: $salem-blue;
  }

  &.GREEN {
    border-color: $salem-green;
    color: $salem-green;
  }

  &.BLACK {
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
  }

  .salem-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    h6 {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      font-size: 16px;
    }
  }
  //width: 250px;
}


div.turn-status {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100vw;
  font-weight: 500;
  height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

div.open-salem-hand {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}

textarea.log-messages {
  width: 100%;
  background-color: transparent;
  border: transparent;
  background-color: lighten($salem-background, 5%);
}


#lobby-exit.buttons {
  position: fixed;
  top: 0;
  right: 0;
}

#game-exit.buttons {
  position: fixed;
  top: 20px;
  right: 0;
}



